@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.slow__default {
    transition: all .3s;
}

#hero_btn {
    transition: all .3s;
}

#hero_btn:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #fff;
    color: black;
}
#form__btn{
    transition: all .3s;
}
#form__btn:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #fff;
    color: black;
}
.input{
    outline: none;
}
.input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: black;
}
@media(max-width:768px){
    .input{
        font-size: 14px;
    }
}
#form__sel:hover #form__sel__text{
    color: #197FAF;
}
#form__sel:hover{
    border: 1px solid #197FAF;
}
#katalog__box{
    transition: all .3s;
}
#katalog__text__box{
    transition: all .3s;
}
#katalog__box:hover{
    border: 1px solid #197FAF;
}
#katalog__box:hover #katalog__text__box{
    color: #197FAF;
}
.swiper-button-next::after{
    content: "" !important;
}
.swiper-button-prev::after{
    content: "" !important;
}
.swiper-button-next{
    width: 64px !important;
    height: 64px !important;
    position: absolute !important;
}
.swiper-button-prev{
    width: 64px !important;
    height: 64px !important;
    position: absolute !important;
}
.swiper__box{
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:768px){
    .swiper-button-next{
        display: none !important;
    }
    .swiper-button-prev{
        display: none !important;
    }
}